<web-app>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.example.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
